@model Product
@{
}


<div class="row mt-5">
	<div class="col-md-4 text-center " >
		<img src="/Images/@Model.ImageFileName" class="img-fluid mb-3" width="250" />
	</div>
	<div class="col-md-8">
			<h2 class="mb-3">@Model.Name</h2>
			<hr />
			<h5 class="mb-3">Author: @Model.Author</span></h5>
			<h5 class="mb-3">Category: @Model.Category</span></h5>
			<h3 class="mb-3">Price: @(Model.Price)$</span></h3>
			<hr/>

			<p class="mb-4" style="white-space:pre-line">@Model.Description</p>
		<button type="button" class="btn btn-warning btn-sm ">
			Add to Cart
			<i class="bg bi-cart4"></i>
		</button>
	</div>
</div>

